.THIS {
	background : #ddd;
}
.THIS h1{
    background: url(/img/icon/creditCard32.png) no-repeat;
    padding-left: 40px;       
    padding-bottom: 5px
}
.THIS .uiInputCheckbox {
    margin-left: 20px;
}

.THIS .uiButton {
    margin-bottom: 20px;
}

.THIS .row {
    width: 100%;
    margin-bottom: 20px;
}

.THIS .blue {
    background: #d9edf2;
}

.THIS .white {
    background: #ffffff;
}

.THIS .uiInput.uiInputDateTime {
    /*position: relative;*/
}

.THIS .dateTime-inputDate 	.datePicker-openIcon {
    position: inherit !important;
    display: inline-block;
    background-position: center;
    padding: 0;
}

.THIS .uiInputDefaultError li {
  list-style: none;
}